body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    body {
        background-color: tan;
      }
      
      /* On screens that are 992px or less, set the background color to blue */
      @media screen and (max-width: 992px) {
        body {
          background-color: blue;
        }
      }
      
      /* On screens that are 600px or less, set the background color to olive */
      @media screen and (max-width: 600px) {
        body {
          background-color: olive;
        }
      }
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color:goldenrod;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 4%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
}
.Dream-Big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px green;
}
#full{
    border-left: 7px solid royalblue;
}
#baby{
    border-left: 7px solid crimson;
}
footer p{
  text-align: center;
}
